@import "variables.scss";

*{
    font-family: $font-main;
    background-color: $bg;
    color: $gray-light;
    margin: 0;
    color-scheme: dark;
}

a{
    color: $primary;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

h1{
    margin-bottom: 25px;
}

h2{
    margin-bottom: 20px;
    margin-top: 22px;
}

h3, h4{
    margin-bottom: 20px;
}

h4{
    margin-top: 22px;
}

code{
    border: 1px solid $gray-dull;
    padding: 5px 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: $font-monospace;
}


ul{
    margin-bottom: 20px;
}

li{
    margin-bottom: 10px;
    line-height: 25px;
    ul{
        margin-top: 10px;
    }
}

p{
    line-height: 25px;
    margin-bottom: 15px;
}

table{
    border-collapse: collapse;
    margin-bottom: 20px;

    th, td{
        padding: 8px 15px;
        text-align: center;
    }
    th{
        border-bottom: 2px solid $gray-light;
    }

    td{
        border-bottom: 1px solid $gray-dull;
        &:nth-child(1){
            text-align: left;
        }
    }
}

.content{
    margin-left: 40px;
    margin-right: 40px;
    @include md{
        margin-left: 350px;
    }
    @include xl{
        margin-left: 500px;
    }

    display: inline-block;
    overflow-wrap: break-word;
    max-width: 700px;

    margin-top: 25px;
    @include md{
        margin-top: 80px;
    }
    img{
        max-width: 100%;
        margin-bottom: 10px;
    }
}

.highlight{
    color: $primary;
}

.search a{
    color: $gray-light;
}